In [2]:
import pandas as pd
import numpy as np

!pip install s3fs
import boto3
client=boto3.client('s3')


filepath='s3://bigdatagroupproject/region41_en.csv'

sample_data =pd.read_csv(filepath)

Looking in indexes: https://pypi.org/simple, https://pip.repos.neuron.amazonaws.com
Requirement already satisfied: s3fs in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (0.4.2)
Requirement already satisfied: botocore>=1.12.91 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from s3fs) (1.29.114)
Requirement already satisfied: fsspec>=0.6.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from s3fs) (2022.11.0)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from botocore>=1.12.91->s3fs) (1.26.8)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from botocore>=1.12.91->s3fs) (2.8.2)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from botocore>=1.12.91->s3fs) (1.0.1)
Requirement already satisfied: six>=1.5 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from python-dateutil<3.0.0,>=2.1->botocore>=1.12.91->s3fs) (1.16.0)

In [3]:
sample_data.head()

,brand,name,bodyType,color,fuelType,year,mileage,transmission,power,price,vehicleConfiguration,engineName,engineDisplacement,date,location,link,parse_date
0,Toyota,Land Cruiser Prado,jeep 5 doors,blue,Diesel,1995.0,168000.0,AT,130.0,1860000,3.0 SX Wide limited diesel turbo,1KZ-TE,3.0 LTR,2022-08-20 00:00:00,Petropavlovsk-Kamchatskij,https://petropavlovsk-kamchatskiy.drom.ru/toyo...,2022-08-20 04:00:00
1,Toyota,Land Cruiser,jeep 5 doors,black,Diesel,NaN,260000.0,Automatic,286.0,2300000,NaN,NaN,NaN,2022-08-20 00:00:00,Viljuchinsk,https://vilyuchinsk.drom.ru/toyota/land_cruise...,2022-08-20 04:00:00
2,Toyota,Vitz,hatchback 5 doors,blue,Gasoline,2019.0,100000.0,CVT,95.0,1075000,1.3 F Safety Edition III 4WD,1NR-FE,1.3 LTR,2022-08-20 00:00:00,Petropavlovsk-Kamchatskij,https://petropavlovsk-kamchatskiy.drom.ru/toyo...,2022-08-20 04:00:00
3,Toyota,Mark II,sedan,grey,Gasoline,2002.0,239000.0,AT,160.0,480000,2.0 Grande Four,1G-FE,2.0 LTR,2022-08-20 00:00:00,Viljuchinsk,https://vilyuchinsk.drom.ru/toyota/mark_ii/477...,2022-08-20 04:00:00
4,Toyota,RAV4,jeep 5 doors,golden,Gasoline,2010.0,101000.0,AT,170.0,1450000,2.4 AT Long Престиж Плюс,2AZ-FE,2.4 LTR,2022-08-20 00:00:00,Petropavlovsk-Kamchatskij,https://petropavlovsk-kamchatskiy.drom.ru/toyo...,2022-08-20 04:00:00

In [4]:
sample_data.describe()

                year       mileage         power         price
count  915699.000000  1.491876e+06  1.484500e+06  1.498740e+06
mean     2005.327732  1.823240e+05  1.588104e+02  1.147137e+06
std         8.206993  1.013326e+05  7.169883e+01  1.370128e+06
min      1953.000000  1.000000e+03  4.500000e+01  6.000000e+03
25%      1999.000000  1.100000e+05  1.070000e+02  3.800000e+05
50%      2006.000000  1.770000e+05  1.400000e+02  7.500000e+05
75%      2012.000000  2.500000e+05  1.850000e+02  1.400000e+06
max      2021.000000  1.000000e+06  6.500000e+02  3.300000e+07

In [11]:
sample_data1 = sample_data.copy()
sample_data1

,brand,name,bodyType,color,fuelType,year,mileage,transmission,power,price,vehicleConfiguration,engineName,engineDisplacement,date,location,link,parse_date
0,Toyota,Land Cruiser Prado,jeep 5 doors,blue,Diesel,1995.0,168000.0,AT,130.0,1860000,3.0 SX Wide limited diesel turbo,1KZ-TE,3.0 LTR,2022-08-20 00:00:00,Petropavlovsk-Kamchatskij,https://petropavlovsk-kamchatskiy.drom.ru/toyo...,2022-08-20 04:00:00
1,Toyota,Land Cruiser,jeep 5 doors,black,Diesel,NaN,260000.0,Automatic,286.0,2300000,NaN,NaN,NaN,2022-08-20 00:00:00,Viljuchinsk,https://vilyuchinsk.drom.ru/toyota/land_cruise...,2022-08-20 04:00:00
2,Toyota,Vitz,hatchback 5 doors,blue,Gasoline,2019.0,100000.0,CVT,95.0,1075000,1.3 F Safety Edition III 4WD,1NR-FE,1.3 LTR,2022-08-20 00:00:00,Petropavlovsk-Kamchatskij,https://petropavlovsk-kamchatskiy.drom.ru/toyo...,2022-08-20 04:00:00
3,Toyota,Mark II,sedan,grey,Gasoline,2002.0,239000.0,AT,160.0,480000,2.0 Grande Four,1G-FE,2.0 LTR,2022-08-20 00:00:00,Viljuchinsk,https://vilyuchinsk.drom.ru/toyota/mark_ii/477...,2022-08-20 04:00:00
4,Toyota,RAV4,jeep 5 doors,golden,Gasoline,2010.0,101000.0,AT,170.0,1450000,2.4 AT Long Престиж Плюс,2AZ-FE,2.4 LTR,2022-08-20 00:00:00,Petropavlovsk-Kamchatskij,https://petropavlovsk-kamchatskiy.drom.ru/toyo...,2022-08-20 04:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1498735,Toyota,Caldina,station wagon,white,Gasoline,NaN,250000.0,AT,260.0,390000,NaN,NaN,NaN,2022-09-16 00:00:00,Petropavlovsk-Kamchatskij,https://petropavlovsk-kamchatskiy.drom.ru/toyo...,2022-09-26 19:00:00
1498736,Honda,HR-V,jeep 3 doors,silver,Gasoline,1998.0,250000.0,CVT,105.0,370000,1.6 J4,D16A,1.6 LTR,2022-09-16 00:00:00,Petropavlovsk-Kamchatskij,https://petropavlovsk-kamchatskiy.drom.ru/hond...,2022-09-26 19:00:00
1498737,Mazda,CX-7,jeep 5 doors,black,Gasoline,2006.0,108000.0,AT,244.0,500000,2.3 AT Touring,L3-VDT,2.3 LTR,2022-09-16 00:00:00,Petropavlovsk-Kamchatskij,https://petropavlovsk-kamchatskiy.drom.ru/mazd...,2022-09-26 19:00:00
1498738,Mitsubishi,RVR,jeep 5 doors,burgundy,Gasoline,2012.0,112000.0,CVT,139.0,1100000,1.8 Roadest G 4WD,4J10,1.8 LTR,2022-09-16 00:00:00,Petropavlovsk-Kamchatskij,https://petropavlovsk-kamchatskiy.drom.ru/mits...,2022-09-26 19:00:00
1498739,Nissan,Elgrand,minivan,grey,Gasoline,2002.0,111000.0,AT,240.0,1599999,3.5 VIP specification 4WD,VQ35DE,3.5 LTR,2022-09-16 00:00:00,Petropavlovsk-Kamchatskij,https://petropavlovsk-kamchatskiy.drom.ru/niss...,2022-09-26 19:00:00

In [12]:
sample_data1.drop(columns=['year','vehicleConfiguration','engineName','engineDisplacement','link','parse_date','date','location'],axis=1,inplace=True)

In [13]:
sample_data1

,brand,name,bodyType,color,fuelType,mileage,transmission,power,price
0,Toyota,Land Cruiser Prado,jeep 5 doors,blue,Diesel,168000.0,AT,130.0,1860000
1,Toyota,Land Cruiser,jeep 5 doors,black,Diesel,260000.0,Automatic,286.0,2300000
2,Toyota,Vitz,hatchback 5 doors,blue,Gasoline,100000.0,CVT,95.0,1075000
3,Toyota,Mark II,sedan,grey,Gasoline,239000.0,AT,160.0,480000
4,Toyota,RAV4,jeep 5 doors,golden,Gasoline,101000.0,AT,170.0,1450000
...,...,...,...,...,...,...,...,...,...
1498735,Toyota,Caldina,station wagon,white,Gasoline,250000.0,AT,260.0,390000
1498736,Honda,HR-V,jeep 3 doors,silver,Gasoline,250000.0,CVT,105.0,370000
1498737,Mazda,CX-7,jeep 5 doors,black,Gasoline,108000.0,AT,244.0,500000
1498738,Mitsubishi,RVR,jeep 5 doors,burgundy,Gasoline,112000.0,CVT,139.0,1100000
1498739,Nissan,Elgrand,minivan,grey,Gasoline,111000.0,AT,240.0,1599999

In [14]:
sample_data1.fillna(0)

,brand,name,bodyType,color,fuelType,mileage,transmission,power,price
0,Toyota,Land Cruiser Prado,jeep 5 doors,blue,Diesel,168000.0,AT,130.0,1860000
1,Toyota,Land Cruiser,jeep 5 doors,black,Diesel,260000.0,Automatic,286.0,2300000
2,Toyota,Vitz,hatchback 5 doors,blue,Gasoline,100000.0,CVT,95.0,1075000
3,Toyota,Mark II,sedan,grey,Gasoline,239000.0,AT,160.0,480000
4,Toyota,RAV4,jeep 5 doors,golden,Gasoline,101000.0,AT,170.0,1450000
...,...,...,...,...,...,...,...,...,...
1498735,Toyota,Caldina,station wagon,white,Gasoline,250000.0,AT,260.0,390000
1498736,Honda,HR-V,jeep 3 doors,silver,Gasoline,250000.0,CVT,105.0,370000
1498737,Mazda,CX-7,jeep 5 doors,black,Gasoline,108000.0,AT,244.0,500000
1498738,Mitsubishi,RVR,jeep 5 doors,burgundy,Gasoline,112000.0,CVT,139.0,1100000
1498739,Nissan,Elgrand,minivan,grey,Gasoline,111000.0,AT,240.0,1599999

In [15]:
for i in sample_data1.columns:
     sample_data1[i].replace(np.nan, 0,inplace=True)
sample_data1

,brand,name,bodyType,color,fuelType,mileage,transmission,power,price
0,Toyota,Land Cruiser Prado,jeep 5 doors,blue,Diesel,168000.0,AT,130.0,1860000
1,Toyota,Land Cruiser,jeep 5 doors,black,Diesel,260000.0,Automatic,286.0,2300000
2,Toyota,Vitz,hatchback 5 doors,blue,Gasoline,100000.0,CVT,95.0,1075000
3,Toyota,Mark II,sedan,grey,Gasoline,239000.0,AT,160.0,480000
4,Toyota,RAV4,jeep 5 doors,golden,Gasoline,101000.0,AT,170.0,1450000
...,...,...,...,...,...,...,...,...,...
1498735,Toyota,Caldina,station wagon,white,Gasoline,250000.0,AT,260.0,390000
1498736,Honda,HR-V,jeep 3 doors,silver,Gasoline,250000.0,CVT,105.0,370000
1498737,Mazda,CX-7,jeep 5 doors,black,Gasoline,108000.0,AT,244.0,500000
1498738,Mitsubishi,RVR,jeep 5 doors,burgundy,Gasoline,112000.0,CVT,139.0,1100000
1498739,Nissan,Elgrand,minivan,grey,Gasoline,111000.0,AT,240.0,1599999